//@import('nib')
@import 'base/variables.styl'
@import 'lib/normalize.styl'
@import 'base/mixins.styl'
@import 'layout/header.styl'
@import 'layout/section.styl'
@import 'layout/aside.styl'
//@import 'base/fonts'

@media screen and (min-width: $ipads-portrait)
{
	body{
		background-color:#ccc;
	}
}

//.Grid
//	grid(12, 0.5em)