body, html
	width 100%
	height 100%

.header-main
	Center()
	box(100%,60px)
	background-color #fff
.header-main-der
	box(30px,60px)
	background-color green

.header-main-izq
	box(30px,60px)
	background-color red