
a 
	text-decoration none
.contenedor
	margin-top 45px
.section-main--col1
	display block
	float left
	Center()
	//box(100%,300px)
	//width 495px
	width 100%
	//background-color #58a2f5
	min-height 300px

.section-main--col2
	display block
	float left
	Center()
	//box(100%,300px)
	//width 400px
	width 100%
	//background-color #d0f8a6
	min-height 300px

.article
	background #fff
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box
	padding 0
	margin 10px
	position relative
	overflow hidden
	height 120px
	box-shadow 0 1px 2px #a1acbd
	border-radius 2px
	-webkit-transition box-shadow linear .3s
	-o-transition box-shadow linear .3s
	transition box-shadow linear .3s
	z-index 600
	
	.fimg 
		background #f4f4f4
		float left
		width 100px
		height 120px
		margin 0
		padding 0
		overflow hidden
		position relative
		z-index 500
		img
			width auto
			height 100%
			display block
			margin-left -40%

	.author
		font-family Lato,sans-serif
		text-transform uppercase
		font-size 11px
		font-size 0.7rem
		font-weight 700
		margin 0
		padding 6px 10px 5px
		overflow hidden
		white-space nowrap
		position absolute
		display inline-block
		a
			color rgba(56,56,56,.5)
	.contenido
		.title	
			//margin 0;
			color rgba(56,56,56,.9)
			//padding 15px 0px 0 110px
			padding: 10px 15px 5px 115px
			font-weight 700
			font-size 15px
			font-size 1.1rem
			line-height 1.1
			letter-spacing normal
			a
				color rgba(56,56,56,.9)
	.actions
		-webkit-box-sizing border-box
		-moz-box-sizing border-box
		box-sizing border-box
		overflow hidden
		position relative
		background #fff 50% none
		background-size 100% 100%
		background none,-webkit-linear-gradient(top,rgba(255,255,255,0) 0,#fff 50%)
		background none,linear-gradient(180deg,rgba(255,255,255,0) 0,#fff 50%)
		position absolute;
		width 100%
		bottom 0
		z-index 200
		ul 
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			margin: 0;
			padding: 0;
			float: left;
			//padding: 10px 0 5px 100px;
			padding: 10px 15px 5px 115px
			width: 100%;
		ul li
			list-style: none;
			margin: 0;
			padding: 0;
			//float: left;
			.time
				float left
				//margin-left 15px
			.category
				float right
				//margin-right 15px
	
.article--first
	background #fff
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box
	padding 0
	margin 10px
	position relative
	overflow hidden
	height 260px
	//width 314px
	box-shadow 0 1px 2px #a1acbd
	border-radius 2px
	-webkit-transition box-shadow linear .3s
	-o-transition box-shadow linear .3s
	transition box-shadow linear .3s
	z-index 600
	.fimg--first 
		background #f4f4f4
		float left
		width 100%
		height 150px
		margin 0
		padding 0
		overflow hidden
		position relative
		z-index 500
		img
			position relative
			margin -13% 0 0
			height auto
			min-width 100%
	.author
		text-transform uppercase;
		font-size 11px
		font-size 1.1rem
		font-weight 700
		margin 0
		padding 6px 10px 5px
		overflow hidden
		white-space nowrap
		position absolute
		display inline-block
		color rgba(56,56,56,.5)
		left 0
		top 120px
		z-index 600
		background #fff
		font-family Lato,sans-serif
		a
			color rgba(56,56,56,.5)
	.contenido .toPost
		color rgba(56,56,56,.9)
		.title	
			font-size 14px
			font-size 1.2rem
			padding 10px 10px 0
			clear both
			letter-spacing -.02em
			line-height 1
				
	.actions
		-webkit-box-sizing border-box
		-moz-box-sizing border-box
		box-sizing border-box
		overflow hidden
		position relative
		background #fff 50% none
		background-size 100% 100%
		background none,-webkit-linear-gradient(top,rgba(255,255,255,0) 0,#fff 50%)
		background none,linear-gradient(180deg,rgba(255,255,255,0) 0,#fff 50%)
		position absolute;
		width 100%
		bottom 0
		z-index 200	
		ul 
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			margin: 0;
			padding: 0;
			float: left;
			//padding: 10px 0 5px 0
			padding: 10px 15px 5px 15px
			width: 100%;
		ul li
			list-style: none;
			margin: 0;
			padding: 0;
			//float: left;
			.time
				float left
				//margin-left 15px
			.category
				float right
				//margin-right 15px

.article--no
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box
	background #525f73 none
	background-size 100% 100%
	background none, -webkit-linear-gradient(top, #138AFF, #525f73)
	background none, linear-gradient(top, #138AFF, #525f73)
	//width 100%
	height 260px
	//height: 260px
	margin: 10px;
	border-radius: 2px;
	text-align right
	position relative
	.author--no
		font-family: Lato,sans-serif;
		text-transform: uppercase;
		font-size: 10px;
		font-size 0.7rem
		font-weight: 700;
		margin: 0;
		padding: 6px 10px 5px;
		overflow: hidden;
		white-space: nowrap;
		position: absolute;
		display: inline-block;
		color: rgba(56,56,56,.5);

		position: relative;
		padding: 0 0 5px;
		right: 15px;
		left: auto;
		top: 15px;
		background: 0 0;
		color: #fff;
		border-bottom: 2px solid #fff;
		z-index: 700;
		-webkit-transition: all ease .2s;
		-o-transition: all ease .2s;
		transition: all ease .2s;
		a 
			color: #fff;


	.fimg--no
		width 200px
		height 245px
		-webkit-transition all ease .2s
		-o-transition all ease .2s
		transition all ease .2s
		background 0 0
		position absolute
		//top 0
		//left 0
		width 100%
		overflow hidden
		margin 0
		padding 0
		img
			top -25%
			width 100%
			//height auto
			height 500px
			
			opacity .1
			margin 0
			position absolute
			left 50%
			-webkit-transform translateX(-50%)
			transform translateX(-50%)
			min-width none
	&:hover
		-webkit-transition: all ease .2s;
		-o-transition: all ease .2s;
		transition: all ease .2s;
		background: rgba(0,0,0,.6)

	.contenido .title
		padding 0 15px
		position relative
		right 0
		color #fff!important
		text-align right
		max-width 95%
		top 0
		z-index 500
		font-size 1.5rem
		font-weight 700
	.actions
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		overflow: hidden;
		position: relative;
		background: #fff 50% none;
		background-size: 100% 100%;
		background: none,-webkit-linear-gradient(top,rgba(255,255,255,0) 0,#fff 50%);
		background: none,linear-gradient(180deg,rgba(255,255,255,0) 0,#fff 50%);
		position: absolute;
		width: 100%;
		bottom: 0;
		z-index: 200;
		ul 
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			margin: 0;
			padding: 0;
			float: left;
			//padding: 10px 0 5px 0
			padding: 10px 15px 5px 15px
			width: 100%;
		ul li
			list-style: none;
			margin: 0;
			padding: 0;
			//float: left;
			.time
				float left
				//margin-left 15px
			.category
				float right
				//margin-right 15px
//.......................... DETALLES ..............

.article-detalles--col1
	display block
	float left
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box
	margin 0 5px 0 0
	background #fff
	z-index 5000
	width 100%
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box
	overflow hidden
	position relative
	opacity 1
	box-shadow 0 1px 6px rgba(0,0,0,.2)
	//margin-left 10px
	padding-left 10px
	.imagen-detalles
		width 100%
		min-height 40px
		max-height 472px
		overflow hidden
		position relative
		.fimg
			margin 0
			padding 0
			img 
				width 100%
	.contenido-detalles
		padding 0 7%
		position relative
		z-index 700
		padding 0 20px
		.categoria
				display block
				width 100%
		.body-text
			float left
			padding 0 0 20px
			max-width 620px
			width 100%
			p 
				font-size 18px
				font-size 1.3em
				line-height 1.2
				color #383838
				font-weight 400
				font-family Lato,sans-serif
		.author-detalles
			width 100%
			height 150px
			float left
			.img-detalles
				display block
				border-radius: 100%;
				overflow: hidden;
				width: 60px;
				height: 60px;
				border: 3px solid #f30;
				float: left;
				position: relative;
				margin 0
				img 
					width 100%
					height 100%
			.contenido-detalles
				display block
				float left
				width 50%
				margin 0
				padding 0
				margin-left 10px
		.tags
			padding 0 0 20px
			width 100%

			//list-style: none
			display block
			clear both
			overflow visible
			margin 0!important
			position relative
			li 
				list-style none
				margin 0
				padding 0
				float left

				font-size 0.8rem
				line-height 1.5
				color #383838
			li a 
				display block
				padding 5px;
				color rgba(56,56,56,.7)
				font-size 12px
				font-size 0.8rem
				text-transform uppercase
				margin-bottom 5px
				border 1px solid transparent
				text-align right

.aside-detalles--col2
	float left
	.list	
		-webkit-box-sizing border-box
		-moz-box-sizing border-box
		box-sizing border-box
		display block
		list-style none
		overflow hidden
		margin 0
		padding 0	
		
.aside-main--col3
	display block
	float left
	Center()
	//box(100%,300px)
	//width 495px
	width 100%
	background-color #20b2aa
	min-height 300px
	text-align: center;
	.list--col1, .list--col2, .list--col3
		display inline-block
		width 95%
		background-color #4876ff
		vertical-align top
	.list--col1
		height 200px
		img 
			width 100%
			height 100%
	.list--col2
		height 350px
		background-color #cd0000
	.list--col3
		height 300px
		background-color #ff8d00